In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
base_url = "https://www.amazon.in/s?k=bags&crid=2M096C61O4MLT&qid=1653308124&sprefix=ba%2Caps%2C283&ref=sr_pg_"
data = []

In [20]:
for page in range(1, 31):
    url = base_url + str(page)
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # Extract product information
    for product in products:
        product_link = product.find('a', {'class': 'a-link-normal'})
        if product_link:
            product_url = 'https://www.amazon.in' + product_link['href']
        else:
            product_url = "N/A"

        product_name_element = product.find('span', {'class': 'a-text-normal'})
        product_name = product_name_element.get_text(strip=True) if product_name_element else "N/A"

        product_price_element = product.find('span', {'class': 'a-price'})
        product_price = product_price_element.get_text(strip=True) if product_price_element else "N/A"

        product_rating_element = product.find('span', {'class': 'a-icon-alt'})
        product_rating = product_rating_element.get_text(strip=True) if product_rating_element else "N/A"

        product_reviews_element = product.find('span', {'class': 'a-size-base'})
        product_reviews = product_reviews_element.get_text(strip=True) if product_reviews_element else "N/A"

        data.append([product_url, product_name, product_price, product_rating, product_reviews])

In [85]:
Data = pd.DataFrame(data, columns=['Product URL', 'Product Name', 'Product Price', 'Rating', 'Number of Reviews'])
Data.to_csv('amazon_products.csv', index=False)

In [86]:
Data.head()

,Product URL,Product Name,Product Price,Rating,Number of Reviews
0,https://www.amazon.in/b/ref=sxts_spks_0_0_5b47...,N/A,N/A,N/A,N/A
1,https://www.amazon.in/b/ref=sxts_spks_0_0_5b47...,N/A,N/A,N/A,N/A
2,N/A,Price and other details may vary based on prod...,N/A,N/A,Price and other details may vary based on prod...
3,https://www.amazon.in/Wesley-Milestone-Waterpr...,Wesley Milestone 2.0 Casual Waterproof Laptop ...,₹499₹499,4.3 out of 5 stars,"13,211"
4,https://www.amazon.in/gp/bestsellers/luggage/2...,American Tourister Fizz Large Size 32 Ltrs Cas...,₹799₹799,4.0 out of 5 stars,"56,327"

In [87]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1601 entries, 0 to 1600
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Product URL        1601 non-null   object
 1   Product Name       1601 non-null   object
 2   Product Price      1601 non-null   object
 3   Rating             1601 non-null   object
 4   Number of Reviews  1601 non-null   object
dtypes: object(5)
memory usage: 62.7+ KB

In [88]:
Data.isnull().sum()

Product URL          0
Product Name         0
Product Price        0
Rating               0
Number of Reviews    0
dtype: int64

In [89]:
counts = Data.apply(lambda column: column.value_counts().get("N/A", 0))
print(counts)

Product URL          200
Product Name         301
Product Price        351
Rating               351
Number of Reviews    201
dtype: int64

In [90]:
Data= Data[Data["Product URL"] != "N/A"]

In [91]:
Data.head()

,Product URL,Product Name,Product Price,Rating,Number of Reviews
0,https://www.amazon.in/b/ref=sxts_spks_0_0_5b47...,N/A,N/A,N/A,N/A
1,https://www.amazon.in/b/ref=sxts_spks_0_0_5b47...,N/A,N/A,N/A,N/A
3,https://www.amazon.in/Wesley-Milestone-Waterpr...,Wesley Milestone 2.0 Casual Waterproof Laptop ...,₹499₹499,4.3 out of 5 stars,"13,211"
4,https://www.amazon.in/gp/bestsellers/luggage/2...,American Tourister Fizz Large Size 32 Ltrs Cas...,₹799₹799,4.0 out of 5 stars,"56,327"
5,https://www.amazon.in/FUR-JADEN-Leatherette-Po...,Fur Jaden Brown Textured Leatherette Stylish &...,₹799₹799,4.3 out of 5 stars,"6,865"

In [92]:

Data = Data[(Data["Product Name"] != "N/A") & (Data["Product Price"] != "N/A")]

In [93]:
Data.head()

,Product URL,Product Name,Product Price,Rating,Number of Reviews
3,https://www.amazon.in/Wesley-Milestone-Waterpr...,Wesley Milestone 2.0 Casual Waterproof Laptop ...,₹499₹499,4.3 out of 5 stars,"13,211"
4,https://www.amazon.in/gp/bestsellers/luggage/2...,American Tourister Fizz Large Size 32 Ltrs Cas...,₹799₹799,4.0 out of 5 stars,"56,327"
5,https://www.amazon.in/FUR-JADEN-Leatherette-Po...,Fur Jaden Brown Textured Leatherette Stylish &...,₹799₹799,4.3 out of 5 stars,"6,865"
6,https://www.amazon.in/s/ref=sxin_15_trfobq2av2...,Amazon Basics Opel Laptop Bag/Office/College B...,₹499₹499,4.1 out of 5 stars,Amazon’s private and select curated brands
7,https://www.amazon.in/Amazon-Basics-Laptop-Col...,Amazon Basics Opel Laptop Bag/Office/College B...,₹499₹499,4.1 out of 5 stars,8

In [94]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1250 entries, 3 to 1597
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Product URL        1250 non-null   object
 1   Product Name       1250 non-null   object
 2   Product Price      1250 non-null   object
 3   Rating             1250 non-null   object
 4   Number of Reviews  1250 non-null   object
dtypes: object(5)
memory usage: 58.6+ KB

In [95]:
counts = Data.apply(lambda column: column.value_counts().get("N/A", 0))
print(counts)

Product URL          0
Product Name         0
Product Price        0
Rating               0
Number of Reviews    0
dtype: int64

In [97]:
Data["Product Price"] = Data["Product Price"].str.extract(r'₹([\d,]+)₹')

In [100]:
Data.head()

,Product URL,Product Name,Product Price,Rating,Number of Reviews
3,https://www.amazon.in/Wesley-Milestone-Waterpr...,Wesley Milestone 2.0 Casual Waterproof Laptop ...,499,4.3 out of 5 stars,"13,211"
4,https://www.amazon.in/gp/bestsellers/luggage/2...,American Tourister Fizz Large Size 32 Ltrs Cas...,799,4.0 out of 5 stars,"56,327"
5,https://www.amazon.in/FUR-JADEN-Leatherette-Po...,Fur Jaden Brown Textured Leatherette Stylish &...,799,4.3 out of 5 stars,"6,865"
6,https://www.amazon.in/s/ref=sxin_15_trfobq2av2...,Amazon Basics Opel Laptop Bag/Office/College B...,499,4.1 out of 5 stars,Amazon’s private and select curated brands
7,https://www.amazon.in/Amazon-Basics-Laptop-Col...,Amazon Basics Opel Laptop Bag/Office/College B...,499,4.1 out of 5 stars,8

In [101]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1250 entries, 3 to 1597
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Product URL        1250 non-null   object
 1   Product Name       1250 non-null   object
 2   Product Price      1250 non-null   object
 3   Rating             1250 non-null   object
 4   Number of Reviews  1250 non-null   object
dtypes: object(5)
memory usage: 58.6+ KB

In [104]:
def scrape_product_info(url):
    response = requests.get(url)
    if response.status_code == 200:
        soup = BeautifulSoup(response.content, 'html.parser')
        
        # Try to scrape the description
        description_element = soup.find('span', {'id': 'productTitle'})
        description = description_element.text.strip() if description_element else None
        
        # Try to scrape ASIN
        asin_element = soup.find('th', text='ASIN')
        asin = asin_element.find_next('td').text.strip() if asin_element else None
        
        # Try to scrape product description
        product_description_element = soup.find('div', {'id': 'productDescription'})
        product_description = product_description_element.text.strip() if product_description_element else None
        
        # Try to scrape manufacturer
        manufacturer_element = soup.find('th', text='Manufacturer')
        manufacturer = manufacturer_element.find_next('td').text.strip() if manufacturer_element else None
        
        return description, asin, product_description, manufacturer
    else:
        return None, None, None, None

In [105]:
# Assuming your DataFrame is named df
Data['Description'], Data['ASIN'], Data['Product Description'], Data['Manufacturer'] = zip(*Data['Product URL'].apply(scrape_product_info))

In [112]:
# Assuming your DataFrame is named df
first_product_url = Data["Product URL"].iloc[0]

# Print the first product URL
print(first_product_url)

https://www.amazon.in/Wesley-Milestone-Waterproof-Backpack-Business/dp/B084JGJ8PF/ref=ice_ac_b_dpb

In [116]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Define the URL and headers
url = "https://www.amazon.in/Wesley-Milestone-Waterproof-Backpack-Business/dp/B084JGJ8PF/ref=ice_ac_b_dpb?th=1"
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36'
}

# Send a GET request to the URL
response = requests.get(url, headers=headers)

# Check if the request was successful
if response.status_code == 200:
    soup = BeautifulSoup(response.content, 'html.parser')

    # Define variables to store information
    description = ''
    asin = ''
    product_description = ''
    manufacturer = ''

    # Find and extract the information, handling potential absence of elements
    title_element = soup.find('span', {'id': 'productTitle'})
    if title_element:
        description = title_element.text.strip()

    asin_element = soup.find('th', text='ASIN')
    if asin_element:
        asin = asin_element.find_next('td').text.strip()

    product_description_element = soup.find('div', {'id': 'productDescription'})
    if product_description_element:
        product_description = product_description_element.text.strip()

    manufacturer_element = soup.find('th', text='Manufacturer')
    if manufacturer_element:
        manufacturer = manufacturer_element.find_next('td').text.strip()

    # Create a DataFrame
    data = {
        'Description': [description],
        'ASIN': [asin],
        'Product Description': [product_description],
        'Manufacturer': [manufacturer]
    }
    df = pd.DataFrame(data)

    # Print the DataFrame
    print(df)
else:
    print("Failed to retrieve the page.")

  Description ASIN Product Description Manufacturer
0

In [119]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1250 entries, 3 to 1597
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Product URL          1250 non-null   object
 1   Product Name         1250 non-null   object
 2   Product Price        1250 non-null   object
 3   Rating               1250 non-null   object
 4   Number of Reviews    1250 non-null   object
 5   Description          9 non-null      object
 6   ASIN                 0 non-null      object
 7   Product Description  2 non-null      object
 8   Manufacturer         0 non-null      object
dtypes: object(9)
memory usage: 129.9+ KB

In [120]:
Data.to_csv('amazon_products_.csv', index=False)

In [122]:
Data.to_csv('amazon_products_.xls', index=False)